body {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	background-color: #3e3e3e;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav {
	position: relative;
	z-index: 500;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.left-side, 
.right-side {
	position: fixed;
	top: 0;
	right: 50%;
	bottom: 0;
	left: 0;
	z-index: 1;
	text-align: center;
}

.right-side {
	left: 50%;
	right: 0;
	z-index: 5;
}

.left-side .response {
	background-color: rgba(70,188,222,.7);
}

.left-side .response:hover, .left-side .response.selected {
	background-color: #46bcde;
}

.right-side .response {
	background-color: rgba(229,196,84,.7);
}

.right-side .response:hover, .right-side .response.selected {
	background-color: #e5c454;
}

.question {
	position: relative;
	margin-top: 200px;
	z-index: 10;
	color: white;
	font-size: 3em;
	font-weight: 700;
}

.button,
.response {
	padding: 25px;
	color: white;
	border-radius: 6px;
	display: inline-block;
	min-width: 100px;
	margin-top: 400px;
	cursor: pointer;
	letter-spacing: 1px;
	font-size: 2em;
	box-sizing: border-box;
	font-weight: 700;
}

.button {
	background-color: #79cdcd;
	font-size: 1em;
}

.center .response {
	top: 600px;
	text-align: center;
	position: fixed;
	left: 0;
	width: 100%;
	color: white;
	z-index: 300;
	cursor: pointer;
	text-transform: none;
}

.center .response {
	margin-top: 0;
	font-size: 1em;
}

.selections {
	color: white;
	position: fixed;
	top: 100px;
	left: 5%;
	right: 5%;
	z-index: 25;
	display: none;
}

.heading {
	font-size: 2em;
	text-align: center;
	margin-bottom: 50px;
	font-weight: 700;
}

.movie-meta {
	width: 100%;
	margin-bottom: 15px;
}

.meta-left-container,
.movie-meta.poster {
	width: 45%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	text-align: left;
	text-transform: none;
}


.movie-meta.poster {
	float: right;
}

.title {
	font-size: 1.5em;
}

.poster img {
	width: auto;
	max-height: 500px;
	display: block;
	margin: 0 auto;
}

.button.show-another {
	margin-top: 50px;
}

.spinner {
	z-index: 500;
	display: none;
	color: white;
}

.filters {
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 400;
	display: none;
	padding: 35px;
	box-sizing: border-box;
	background-color: black;
	left: 0;
}

.filter-options-container {
	width: 85%;
	display: inline-block;
	vertical-align: middle;
}

.filter-options-submit {
	width: 14%;
	display: inline-block;
	vertical-align: middle;
	margin-left: -4px;
	text-align: right;
}

.filter-option {
	width: 33%;
	box-sizing: border-box;
	padding-right: 35px;
	float: left;
	color: #79cdcd;
	text-align: left;
}

.filter-submit {
	color: white;
	cursor: pointer;
}

.filter-choice {
	background-color: orange;
	opacity: .6;
	border-radius: 5px;
	padding: 15px 20px;
	display: inline-block;
	width: auto;
	color: white;
	margin-right: 2px;
	margin-bottom: 7px;
	box-sizing: border-box;
	transform: all;
	cursor: pointer;
}


.filter-choice.selected {
	opacity: 1;
}

.filter-choice:hover {
	transition: .65s;
	opacity: 1;
}

.mobile-toolbar {
	background-color: black;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

@media (max-width: 767px){
	body {
		padding-bottom: 50px;
	}
	
	.container {
		width: 100%;
	}
	
	.left-side,
	.right-side {
		position: static;
		width: 100%;
		margin-top: 35px;
	}
	
	.picker {
		box-sizing: border-box;
		padding: 15px;
	}
	
	.question {
		margin-top: 75px;
		font-size: 2em;
		font-weight: 400;
	}
	
	.response {
		margin-top: 0px;
		font-size: 1.25em;
		padding: 15px 20px;
		font-weight: 400;
	}
	
	.center .response {
		margin-top: 25px;
		font-size: 1.1em;
		position: static;
	}
	
	.selections {
		position: static;
		padding-bottom: 50px;
	}
	
	.meta-left-container,
	.movie-meta.poster {
		width: 100%;
		margin: 0;
		padding: 25px;
		float: none;
		text-align: center;
		box-sizing: border-box;
		margin-bottom: 25px;
	}
	
	.movie-meta.poster {
		padding: 0;
	}
	
	.poster img {
		max-width: 100%;
		width: 100%;
		height: auto;
		max-height: initial;
	}
	
	.filters {
		overflow: scroll;
		height: 100%;
		padding: 25px;
	}
	
	.filter-options-container, .filter-option {
		width: 100%;
		float: none;
	}
	
	.filter-choice, .filter-choice.selected {
		padding: 11px 16px;
	}
	
	.filter-option {
		margin-bottom: 30px;
		padding: 0;
	}
	
	.filter-options-submit {
		width: 100%;
		margin-top: 25px;
		float: none;
		padding: 0px;
		box-sizing: border-box;
	}
	
	.filter-submit {
		width: 100%;
	}
}

